<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.studentmanage.dao.TeacherMapper">

    <resultMap type="com.zh.studentmanage.pojo.Teacher" id="TeacherMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="CHAR"/>
        <result property="gender" column="gender" jdbcType="TINYINT"/>
        <result property="idcard" column="idCard" jdbcType="VARCHAR"/>
        <result property="schoolid" column="schoolid" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="homeaddress" column="homeAddress" jdbcType="VARCHAR"/>
        <result property="subject" column="subject" jdbcType="VARCHAR"/>
        <result property="department" column="department" jdbcType="VARCHAR"/>
        <result property="position" column="position" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="updatedPerson" column="updated_person" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TeacherMap">
        select id,
               name,
               nickname,
               password,
               birthday,
               gender,
               idCard,
               schoolid,
               phone,
               homeAddress,
               subject,
               department,
               position,
               status,
               created_time,
               updated_time,
               updated_person
        from studentmanage.teacher
        where id = #{id}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryByParam" resultMap="TeacherMap">
        select
        id, name, nickname, password, birthday, gender, idCard, schoolid, phone, homeAddress, subject, department,
        position, status, created_time, updated_time, updated_person
        from studentmanage.teacher
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="nickname != null and nickname != ''">
                and nickname = #{nickname}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="birthday != null">
                and birthday = #{birthday}
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="idcard != null and idcard != ''">
                and idCard = #{idcard}
            </if>
            <if test="schoolid != null and schoolid != ''">
                and schoolid = #{schoolid}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="homeaddress != null and homeaddress != ''">
                and homeAddress = #{homeaddress}
            </if>
            <if test="subject != null and subject != ''">
                and subject = #{subject}
            </if>
            <if test="department != null and department != ''">
                and department = #{department}
            </if>
            <if test="position != null and position != ''">
                and position = #{position}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime}
            </if>
            <if test="updatedPerson != null and updatedPerson != ''">
                and updated_person = #{updatedPerson}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into studentmanage.teacher(id,name, nickname, password, birthday, gender, idCard, schoolid, phone,
                                          homeAddress, subject, department, position, status, created_time,
                                          updated_time, updated_person)
        values (#{id},#{name}, #{nickname}, #{password}, #{birthday}, #{gender}, #{idcard}, #{schoolid}, #{phone},
                #{homeaddress}, #{subject}, #{department}, #{position}, #{status}, #{createdTime}, #{updatedTime},
                #{updatedPerson})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into studentmanage.teacher(name, nickname, password, birthday, gender, idCard, schoolid, phone,
        homeAddress, subject, department, position, status, created_time, updated_time, updated_person)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.nickname}, #{entity.password}, #{entity.birthday}, #{entity.gender},
            #{entity.idcard}, #{entity.schoolid}, #{entity.phone}, #{entity.homeaddress}, #{entity.subject},
            #{entity.department}, #{entity.position}, #{entity.status}, #{entity.createdTime}, #{entity.updatedTime},
            #{entity.updatedPerson})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into studentmanage.teacher(name, nickname, password, birthday, gender, idCard, schoolid, phone,
        homeAddress, subject, department, position, status, created_time, updated_time, updated_person)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.nickname}, #{entity.password}, #{entity.birthday}, #{entity.gender},
            #{entity.idcard}, #{entity.schoolid}, #{entity.phone}, #{entity.homeaddress}, #{entity.subject},
            #{entity.department}, #{entity.position}, #{entity.status}, #{entity.createdTime}, #{entity.updatedTime},
            #{entity.updatedPerson})
        </foreach>
        on duplicate key update
        name = values(name) , nickname = values(nickname) , password = values(password) , birthday = values(birthday) ,
        gender = values(gender) , idCard = values(idCard) , schoolid = values(schoolid) , phone = values(phone) ,
        homeAddress = values(homeAddress) , subject = values(subject) , department = values(department) , position =
        values(position) , status = values(status) , created_time = values(created_time) , updated_time =
        values(updated_time) , updated_person = values(updated_person)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update studentmanage.teacher
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="idcard != null and idcard != ''">
                idCard = #{idcard},
            </if>
            <if test="schoolid != null and schoolid != ''">
                schoolid = #{schoolid},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="homeaddress != null and homeaddress != ''">
                homeAddress = #{homeaddress},
            </if>
            <if test="subject != null and subject != ''">
                subject = #{subject},
            </if>
            <if test="department != null and department != ''">
                department = #{department},
            </if>
            <if test="position != null and position != ''">
                position = #{position},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime},
            </if>
            <if test="updatedPerson != null and updatedPerson != ''">
                updated_person = #{updatedPerson},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from studentmanage.teacher
        where id = #{id}
    </delete>

    <!--变更教师状态-->
    <update id="changeStatusById">
        update studentmanage.teacher
        set status = #{status}
        where id = #{id}
    </update>

    <!--通过昵称查询单条数据-->
    <select id="queryByNickname" resultMap="TeacherMap">
        select id,
               name,
               nickname,
               password,
               birthday,
               gender,
               idCard,
               schoolid,
               phone,
               homeAddress,
               subject,
               department,
               position,
               status,
               created_time,
               updated_time,
               updated_person
        from studentmanage.teacher
        where nickname = #{nickname}
    </select>

    <!--通过实体作为筛选条件查询教师总数-->
    <select id="queryCount" resultType="java.lang.Integer">
        select count(1)
        from studentmanage.teacher
        <where>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="nickname != null and nickname != ''">
                and nickname = #{nickname}
            </if>
            <if test="birthday != null">
                and birthday = #{birthday}
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="schoolid != null and schoolid != ''">
                and schoolid = #{schoolid}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="subject != null and subject != ''">
                and subject = #{subject}
            </if>
            <if test="department != null and department != ''">
                and department = #{department}
            </if>
            <if test="position != null and position != ''">
                and position = #{position}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="updatedPerson != null and updatedPerson != ''">
                and updated_person = #{updatedPerson}
            </if>
        </where>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryByParamLimit" resultMap="TeacherMap">
        select
        id, name, nickname, password, birthday, gender, idCard, schoolid, phone, homeAddress, subject, department,
        position, status, created_time, updated_time, updated_person
        from studentmanage.teacher
        <where>
            <if test="teacher.id != null and teacher.id != ''">
                and id = #{teacher.id}
            </if>
            <if test="teacher.name != null and teacher.name != ''">
                and name = #{teacher.name}
            </if>
            <if test="teacher.nickname != null and teacher.nickname != ''">
                and nickname = #{teacher.nickname}
            </if>
            <if test="teacher.gender != null">
                and gender = #{teacher.gender}
            </if>
            <if test="teacher.schoolid != null and teacher.schoolid != ''">
                and schoolid = #{teacher.schoolid}
            </if>
            <if test="teacher.phone != null and teacher.phone != ''">
                and phone = #{teacher.phone}
            </if>
            <if test="teacher.homeaddress != null and teacher.homeaddress != ''">
                and homeAddress = #{teacher.homeaddress}
            </if>
            <if test="teacher.subject != null and teacher.subject != ''">
                and subject = #{teacher.subject}
            </if>
            <if test="teacher.department != null and teacher.department != ''">
                and department = #{teacher.department}
            </if>
            <if test="teacher.position != null and teacher.position != ''">
                and position = #{teacher.position}
            </if>
            <if test="teacher.status != null">
                and status = #{teacher.status}
            </if>
            <if test="teacher.updatedPerson != null and teacher.updatedPerson != ''">
                and updated_person = #{teacher.updatedPerson}
            </if>
        </where>
        order by updated_time desc
        limit #{offset}, #{pageSize}
    </select>

</mapper>

